/*
    Created on : Sep. 27, 2022
*/

body {
    font-family: "Lato", sans-serif;
}
.main {
    margin-left: 210px;
    font-size: 20px;
    padding: 0px 10px;
}
hr {
    border-top: 1px solid grey;
    margin: 5px;
}

table.list {
  width: 90%;
  border-collapse: collapse;
    font-size: smaller;
}
table.list tr td {
  border: 1px solid lightgrey;
}

tbody{
    border: none;
}
td.nav{
    width: 90px;
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
